body, 
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("images/frieza.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  color: #cccccc;
 }

 .btn {
  background-color: #ef5440;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
